#homenavbar{
    background-color: #ce0505;
    height: 8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:white;

}
#homelogo{
    color:#ce0505!important;
    background-color: white!important;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-left: 20px;

}
#homeaccount{
    display: flex;
    height: 10vw;
    align-items: center;
    margin-right: 20px;
}
#homeaccount h5{
    border: 3px solid white;
    border-radius: 5px;
   text-align: center;
   padding: 10px;
   margin-left: 10px;
   margin-left: 20px;

}
#i{
    visibility: hidden;
    background-color: #ce0505;
    color:white;
    display:none!important;
    width: 80px;
    height:130px ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
}
i{
    display: none!important;
}
#homeintro{
    text-align: right;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-right: 10vw;
    color:#192f60!important;
    
}
@media (max-width:600px){
    #homenavbar{
        height: 15vw;
    }
}
@media (max-width:450px){
    #homenavbar{
        height: 20vw;
    }
    #homelogo{
        margin-left: 10px;
    }
    #homeaccount{
        font-size: 120%;
        margin-right: 10px;
    }
    #homeaccount h5{
        border: 2px solid white;
        border-radius: 4px;
    }
    #homeintro{
        font-size: 145%;
    }
}
@media (max-width:350px){
    #homeaccount h4, #homeaccount h5{
        display: none;

    }
    i{
        display: block;
        cursor: pointer;
    }
    #homeintro{
        font-size: 115%;
        margin-left: 10px;
        margin-right: 10px;
    }
    #homenavbar{
        height: 23vw;
    }

}
@media (max-width:767px){
    #homeintro{
        margin-right: 6vw;
    }
}
@media (max-width:900px) and (min-width:700px){
    #homenavbar{
        height: 10vw;
    }
}
@media (max-width:700px) and (min-width:450px){
    #homenavbar{
        height: 15vw;
    }
}
@media (max-width:450px) and (min-width:350px){
    #homenavbar{
        height: 20vw;
    }
}
@media (max-width:630px){
    #homeintro{
       text-align: center;
    }
}

#filterSmall{
    display: none;
    width: 90vw;
    padding: 10px;
    height: 50px;
   margin: 30px auto 40px auto;
    color: #192f60!important;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
    background-color: white!important;
    

}
#gts{
    transform: rotate(90deg);
   position: relative;
   right: -32vw;
}
@media (max-width:630px){
#filterSmall{
    display: flex;
    justify-content: center;
    align-items: center;
}
}