#restoCard{
    width: 60vw;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.5);
    border-radius: 5px;
    height: 350px;
    margin: 20px;
    padding: 30px;
    position: relative;
   
}

#firstRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #192f60;
    padding: 10px;
}
#frfp{
    width:40%;
}
#firstRow img{
    display: block;
    width:100%;
    height:180px;
    border-radius: 10px;
    margin-right: 30px;
}
#address{
    margin-left: 50px;
    width:100%
}
#hhr{
    display:flex;
    justify-content: center;
}
hr{
    background-color: grey;
    width: 98%;
    
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#lastRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #192f60;
    padding: 10px;
}
#cuis{
    margin-left: 30px;
    margin-right: 20px;
}
#cuisInfo{
    margin-left: 50px;
}

@media (max-width:1240px){
    #frfp{
        width: 60%;
    }
}
@media (max-width:1000px) and (min-width:900px){
    #restoCard{
        width: 70vw;
    }
}
@media (max-width:900px){
    #restoCard{
        width:65vw;
        margin: 10px;
    }
    h5{
        font-size: 105%;
    }
    #firstRow img{
        height: 140px;
    }
}
@media (max-width:780px){
   h5{
       font-size: 95%;
   }
    #restoCard{
        height: 280px;
    }
    #firstRow img{
        height: 110px;
    }
}
@media (max-width:630px){
    #restoCard{
        width: 90vw;
    }
}
@media (max-width:440px){
    #restoCard{
        padding: 10px;
        height: 250px;
    }
    #address{
        margin-left: 10px;
    }
    #frfp{
        width: 70%;
    }
    #restoCard img{
        margin-right: 10px;
        position: relative;
        left: -10px;
    }
    #restoCard h3{
        font-size: 105%;
        font-weight: bolder;
    }
    #address h5{
        font-size: 80%;
    }
    #cuisine h5{
        font-size: 90%;
    }
}
@media (max-width:780px) and (min-width:440px){
    #lastRow h5{
        font-size: 95%;
    }
}
@media (max-width:440px) and (min-width:318px){
    #lastRow h5{
        font-size: 90%;
    }
}
@media (max-width:318px){
    #lastRow h5{
        font-size: 80%;
    }
}

